

.border-radius-1 {
    border-radius: 0 80px 0 0;
}


.border-radius-2 {
    border-radius: 80px 0 0 0;
}

.border-radius-3 {
    border-radius: 0 0 80px 0;
}

.border-radius-4 { 
    border-radius: 0 0 0 80px;
}

.bg-primary-1 { 
    background-color: #222429;
}

.container-launchApp .line { 
    position: absolute;
    width: 100%;
    background-color: #766DE4;
    height: 4px;
    top: -12px;
}

.deposit-nav-item { 
    margin-bottom: 15px;
 }

.deposit-nav-item,
.deposit-nav-item label { 
    cursor: pointer;
}

.deposit-nav-item.active { 
    color: #766DE4;
}

.check-dot { 
        display: flex;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #000;
        outline: 2px solid #766DE4;
        border: 2px solid #000;
        margin: 0 auto 8px;
        transition: all 0.5s ease;
}

.check-dot.active { 
    background-color: #766DE4;
    transition: all 0.5s ease;
}